@tailwind base;
@tailwind components;

.header-title-orange {
  border-left: 10px solid #009cb8;
    color: #363636;
    font-size: 1vw;
}
.header {
  padding-bottom: 20px;
}


@tailwind utilities;

body{
  background: #FAFAFA;
}

::-webkit-scrollbar {
    width: 0;  /* Remove scrollbar space */
    background: transparent;  /* Optional: just make scrollbar invisible */
}

html,root, body, #app, #app>div {
  height: 100vh
}
