@tailwind base;
@tailwind components;

.header-title-orange {
  border-left: 10px solid #009cb8;
    color: #363636;
    font-size: 1vw;
}
.header {
  padding-bottom: 20px;
}


@tailwind utilities;

body{
  background-image: url(/src/img/test.svg);
  background-repeat: no-repeat;
  background-size: cover;
}
html,root, body, #app, #app>div {
  height: 100vh
}